下記セルを実行すると、authorization codeの入力を求められます。
出力されたリンク先をクリックし、Googleアカウントにログインし、
authorization codeをコピーし、貼り付けをおこなってください。
```python
from google.colab import drive
drive.mount('/content/drive')
```

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from winsound import Beep
# disable __pychache__
sys.dont_write_bytecode = True

In [2]:
# import get_data function that I created
from load_data import get_data, get_diff_data
import sys

In [3]:
__dir__ = os.getcwd()
__dir__

'c:\\Users\\tatsu\\Documents\\project_workspace\\01_python_100knock_visualization\\chapter-1'

## １章 システムデータの加工・可視化を行う２０本ノック

### ノック１：法人情報データを読み込んでみよう

In [4]:
# This will return encoder errror
data = pd.read_csv(f'{__dir__}/data/22_shizuoka_all_20210331.csv')
data.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x90 in position 44: invalid start byte

In [5]:
# Avoid encoding error by setting to 'shift-jis'
data = pd.read_csv(f'{__dir__}/data/22_shizuoka_all_20210331.csv',encoding='shift-jis', header=None)
display(data.head())
data.info(verbose=True)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,1,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,1,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,1,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,1,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,1,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114613 entries, 0 to 114612
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       114613 non-null  int64
 1   1       114613 non-null  int64
 2   2       114613 non-null  int64
 3   3       114613 non-null  int64
 4   4       114613 non-null  object
 5   5       114613 non-null  object
 6   6       114613 non-null  object
 7   7       1243 non-null    float64
 8   8       114613 non-null  int64
 9   9       114613 non-null  object
 10  10      114613 non-null  object
 11  11      114596 non-null  object
 12  12      1195 non-null    float64
 13  13      114613 non-null  int64
 14  14      114613 non-null  int64
 15  15      114440 non-null  float64
 16  16      0 non-null       float64
 17  17      0 non-null       float64
 18  18      10077 non-null   object
 19  19      10077 non-null   float64
 20  20      666 non-null     float64
 21  21      1111 non-null    object
 22  22      114613 non-null  object
 23  23      114613 non-null  int64
 24  24      232 non-null     object
 25  25      230 non-null     object
 26  26      230 non-null     object
 27  27      0 non-null       float64
 28  28      46620 non-null   object
 29  29      114613 non-null  int64
dtypes: float64(8), int64(9), object(13)
memory usage: 26.2+ MB

In [6]:
# Size of data in rows
len(data) #Shape[0]

114613

In [7]:
data.describe()

,0,1,2,3,7,8,12,13,14,15,16,17,19,20,23,27,29
count,114613.000000,1.146130e+05,114613.000000,114613.000000,1243.000000,114613.000000,1195.000000,114613.0,114613.000000,1.144400e+05,0.0,0.0,10077.000000,6.660000e+02,114613.0,0.0,114613.000000
mean,57307.000000,5.085795e+12,3.976181,0.295856,71557.514883,314.465558,81666.374895,22.0,178.326394,4.231842e+06,NaN,NaN,5.190731,4.957128e+12,1.0,NaN,0.001963
std,33086.067539,2.581533e+12,7.453937,0.456429,11848.454350,34.832874,13422.273042,0.0,64.170267,8.983892e+04,NaN,NaN,7.758547,2.587259e+12,0.0,NaN,0.044264
min,1.000000,1.000013e+12,1.000000,0.000000,67209.000000,101.000000,67247.000000,22.0,100.000000,4.100000e+06,NaN,NaN,1.000000,1.010001e+12,1.0,NaN,0.000000
25%,28654.000000,3.080002e+12,1.000000,0.000000,67695.500000,301.000000,79441.500000,22.0,131.000000,4.160907e+06,NaN,NaN,1.000000,3.080001e+12,1.0,NaN,0.000000
50%,57307.000000,5.080102e+12,1.000000,0.000000,68059.000000,302.000000,79792.000000,22.0,203.000000,4.228034e+06,NaN,NaN,1.000000,5.025501e+12,1.0,NaN,0.000000
75%,85960.000000,7.080401e+12,1.000000,1.000000,68445.000000,302.000000,80115.500000,22.0,212.000000,4.312102e+06,NaN,NaN,1.000000,7.080401e+12,1.0,NaN,0.000000
max,114613.000000,9.700150e+12,71.000000,1.000000,121799.000000,499.000000,122416.000000,22.0,484.000000,4.390037e+06,NaN,NaN,31.000000,9.180301e+12,1.0,NaN,1.000000

In [8]:
data.shape

(114613, 30)

## ノック２：読み込んだデータを確認しよう

In [9]:
# List of column names
data.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
           dtype='int64')

In [10]:
# Number of columns in the dataframe
print(f'Number of columns :{str(len(data.columns))}')

Number of columns :30

In [11]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,1,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,1,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,1,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,1,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,1,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

In [12]:
# Print details of the dataframe
display(data.info(verbose=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114613 entries, 0 to 114612
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       114613 non-null  int64
 1   1       114613 non-null  int64
 2   2       114613 non-null  int64
 3   3       114613 non-null  int64
 4   4       114613 non-null  object
 5   5       114613 non-null  object
 6   6       114613 non-null  object
 7   7       1243 non-null    float64
 8   8       114613 non-null  int64
 9   9       114613 non-null  object
 10  10      114613 non-null  object
 11  11      114596 non-null  object
 12  12      1195 non-null    float64
 13  13      114613 non-null  int64
 14  14      114613 non-null  int64
 15  15      114440 non-null  float64
 16  16      0 non-null       float64
 17  17      0 non-null       float64
 18  18      10077 non-null   object
 19  19      10077 non-null   float64
 20  20      666 non-null     float64
 21  21      1111 non-null    object
 22  22      114613 non-null  object
 23  23      114613 non-null  int64
 24  24      232 non-null     object
 25  25      230 non-null     object
 26  26      230 non-null     object
 27  27      0 non-null       float64
 28  28      46620 non-null   object
 29  29      114613 non-null  int64
dtypes: float64(8), int64(9), object(13)
memory usage: 26.2+ MB

None

In [13]:
## re-read data setting dtype as object
data = pd.read_csv(f'{__dir__}/data/22_shizuoka_all_20210331.csv',encoding='shift-jis', header=None, dtype='object')
data.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

In [14]:
# Check dtype to confirm everything is object
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114613 entries, 0 to 114612
Data columns (total 30 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       114613 non-null  object
 1   1       114613 non-null  object
 2   2       114613 non-null  object
 3   3       114613 non-null  object
 4   4       114613 non-null  object
 5   5       114613 non-null  object
 6   6       114613 non-null  object
 7   7       1243 non-null    object
 8   8       114613 non-null  object
 9   9       114613 non-null  object
 10  10      114613 non-null  object
 11  11      114596 non-null  object
 12  12      1195 non-null    object
 13  13      114613 non-null  object
 14  14      114613 non-null  object
 15  15      114440 non-null  object
 16  16      0 non-null       object
 17  17      0 non-null       object
 18  18      10077 non-null   object
 19  19      10077 non-null   object
 20  20      666 non-null     object
 21  21      1111 non-null    object
 22  22      114613 non-null  object
 23  23      114613 non-null  object
 24  24      232 non-null     object
 25  25      230 non-null     object
 26  26      230 non-null     object
 27  27      0 non-null       object
 28  28      46620 non-null   object
 29  29      114613 non-null  object
dtypes: object(30)
memory usage: 26.2+ MB

## ノック３：ヘッダ用のテキストファイルを読み込もう

In [15]:
# Load master data for header
mst = pd.read_csv(f'{__dir__}/data/mst_column_name.txt', encoding='shift-jis')
mst.head()

  column_id\tcolumn_name_ja\tcolumn_name_en
0                   1\t一連番号\tsequenceNumber
1                  2\t法人番号\tcorporateNumber
2                          3\t処理区分\tprocess
3                          4\t訂正区分\tcorrect
4                      5\t更新年月日\tupdateDate

In [16]:
# Specify delimeter to load properly
mst = pd.read_csv(f'{__dir__}/data/mst_column_name.txt', encoding='shift-jis', delimiter='\t')
mst.head()

   column_id column_name_ja   column_name_en
0          1           一連番号   sequenceNumber
1          2           法人番号  corporateNumber
2          3           処理区分          process
3          4           訂正区分          correct
4          5          更新年月日       updateDate

In [17]:
# Check if the number of columns in the original dataframe and master data is same.
print(f'Statement: Data size is equal: {str(len(data.columns)==len(mst))}')

Statement: Data size is equal: True

## ノック４：ヘッダ行を追加しよう

In [18]:
# Save mst's column_name_en as a column name
columns = mst.column_name_en.values
columns.dtype

dtype('O')

In [19]:
columns

array(['sequenceNumber', 'corporateNumber', 'process', 'correct',
       'updateDate', 'changeDate', 'name', 'nameImageId', 'kind',
       'prefectureName', 'cityName', 'streetNumber', 'addressImageId',
       'prefectureCode', 'cityCode', 'postCode', 'addressOutside',
       'addressOutsideImageId', 'closeDate', 'closeCause',
       'successorCorporateNumber', 'changeCause', 'assignmentDate',
       'latest', 'enName', 'enPrefectureName', 'enCityName',
       'enAddressOutside', 'furigana', 'hihyoji'], dtype=object)

In [20]:
data.columns = columns
data.head()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

## ノック５：統計量や欠損値を確認しよう

In [21]:
# Basic Statistical Information about the data
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,114613,114613,114613,114613,114613,114613,114613,1243,114613,114613,...,666,1111,114613,114613,232,230,230,0,46620,114613
unique,114613,114613,6,2,1316,1344,105857,1243,9,1,...,572,1051,1328,1,231,1,129,0,41339,2
top,1,1000013040008,01,0,2015-11-13,2015-10-05,八幡神社,00067214,301,静岡県,...,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,1,1,94126,80704,55969,83291,171,1,51229,114613,...,12,12,101316,114613,2,230,10,NaN,30,114388

In [22]:
# Percentage of NAs
data.isna().sum()/len(data)*100

sequenceNumber                0.000000
corporateNumber               0.000000
process                       0.000000
correct                       0.000000
updateDate                    0.000000
changeDate                    0.000000
name                          0.000000
nameImageId                  98.915481
kind                          0.000000
prefectureName                0.000000
cityName                      0.000000
streetNumber                  0.014833
addressImageId               98.957361
prefectureCode                0.000000
cityCode                      0.000000
postCode                      0.150943
addressOutside              100.000000
addressOutsideImageId       100.000000
closeDate                    91.207804
closeCause                   91.207804
successorCorporateNumber     99.418914
changeCause                  99.030651
assignmentDate                0.000000
latest                        0.000000
enName                       99.797580
enPrefectureName             99.799325
enCityName                   99.799325
enAddressOutside            100.000000
furigana                     59.323986
hihyoji                       0.000000
dtype: float64

In [23]:
# Percentage of null results
data.isnull().sum()/data.shape[0]*100 ## Watch out on postCode

sequenceNumber                0.000000
corporateNumber               0.000000
process                       0.000000
correct                       0.000000
updateDate                    0.000000
changeDate                    0.000000
name                          0.000000
nameImageId                  98.915481
kind                          0.000000
prefectureName                0.000000
cityName                      0.000000
streetNumber                  0.014833
addressImageId               98.957361
prefectureCode                0.000000
cityCode                      0.000000
postCode                      0.150943
addressOutside              100.000000
addressOutsideImageId       100.000000
closeDate                    91.207804
closeCause                   91.207804
successorCorporateNumber     99.418914
changeCause                  99.030651
assignmentDate                0.000000
latest                        0.000000
enName                       99.797580
enPrefectureName             99.799325
enCityName                   99.799325
enAddressOutside            100.000000
furigana                     59.323986
hihyoji                       0.000000
dtype: float64

## ノック６：データの追加（繰り返し・読込・抽出・結合）

In [24]:
# List all the files in data directory
os.listdir('data') # data starting with 'diff' is our interest

['22_shizuoka_all_20210331.csv',
 'diff_20210401.csv',
 'diff_20210405.csv',
 'diff_20210406.csv',
 'diff_20210407.csv',
 'diff_20210408.csv',
 'diff_20210409.csv',
 'init.init',
 'mst_closeCause.csv',
 'mst_column_name.txt',
 'mst_corp_kind.csv',
 'mst_correct_kbn.csv',
 'mst_hihyoji.csv',
 'mst_latest.csv',
 'mst_process_kbn.csv']

In [25]:
from glob import glob
diff_files = glob(f'{__dir__}/data/diff*.csv')
diff_files

['c:\\Users\\tatsu\\Documents\\project_workspace\\01_python_100knock_visualization\\chapter-1/data\\diff_20210401.csv',
 'c:\\Users\\tatsu\\Documents\\project_workspace\\01_python_100knock_visualization\\chapter-1/data\\diff_20210405.csv',
 'c:\\Users\\tatsu\\Documents\\project_workspace\\01_python_100knock_visualization\\chapter-1/data\\diff_20210406.csv',
 'c:\\Users\\tatsu\\Documents\\project_workspace\\01_python_100knock_visualization\\chapter-1/data\\diff_20210407.csv',
 'c:\\Users\\tatsu\\Documents\\project_workspace\\01_python_100knock_visualization\\chapter-1/data\\diff_20210408.csv',
 'c:\\Users\\tatsu\\Documents\\project_workspace\\01_python_100knock_visualization\\chapter-1/data\\diff_20210409.csv']

In [26]:
# Try reading a file
pd.read_csv(diff_files[0], encoding='shift-jis', header=None).head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1010001016019,71,0.0,2021-04-01,2021-03-01,株式会社国際漢方研究所,NaN,301.0,東京都,...,NaN,令和３年３月１日東京都渋谷区千駄ヶ谷五丁目２９番１１号ナカニシビル６０２号室株式会社Ｉｎｔｅ...,2015-10-05,1.0,NaN,NaN,NaN,NaN,コクサイカンポウケンキュウショ,0.0
1,2,1010001092869,1,1.0,2021-04-01,2020-06-11,あさひ銀リテールファイナンス株式会社,NaN,301.0,東京都,...,NaN,NaN,2020-06-11,0.0,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0.0
2,3,1010001092869,21,0.0,2021-04-01,2021-03-22,あさひ銀リテールファイナンス株式会社,NaN,301.0,東京都,...,NaN,NaN,2020-06-11,1.0,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0.0
3,4,1010001128061,1,1.0,2021-04-01,2015-10-05,日本アイ・ビー・エム株式会社,NaN,301.0,東京都,...,NaN,NaN,2015-10-05,0.0,NaN,NaN,NaN,NaN,ニホンアイビーエム,0.0
4,5,1010001128061,71,1.0,2021-04-01,2017-10-02,日本アイ・ビー・エム株式会社,NaN,301.0,東京都,...,NaN,平成２９年１０月１日東京都中央区日本橋箱崎町１９番２１号アイ・ビー・エム・アジア・パシフィッ...,2015-10-05,1.0,NaN,NaN,NaN,NaN,ニホンアイビーエム,0.0

In [27]:
pd.read_csv(diff_files[1], encoding='shift-jis', header=None).head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1010001007884,12,0,2021-04-05,2021-04-01,ゼロシーセブン株式会社,NaN,301,東京都,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,ゼロシーセブン,0
1,2,1010001015169,21,0,2021-04-05,2021-03-30,株式会社グランメール,NaN,301,東京都,...,NaN,NaN,2020-11-24,1,NaN,NaN,NaN,NaN,グランメール,0
2,3,1010001095599,21,0,2021-04-05,2021-03-31,虎ノ門住宅販売株式会社,NaN,301,東京都,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,トラノモンジュウタクハンバイ,0
3,4,1010001096077,71,0,2021-04-05,2021-03-22,スローガン株式会社,NaN,301,東京都,...,NaN,令和３年３月１日東京都港区南青山二丁目１１番１７号スローガンアドバイザリー株式会社（9010...,2015-10-05,1,NaN,NaN,NaN,NaN,スローガン,0
4,5,1010001216948,1,0,2021-04-05,2021-04-05,株式会社あおぞら,NaN,301,東京都,...,NaN,NaN,2021-04-05,1,NaN,NaN,NaN,NaN,アオゾラ,0

In [28]:
get_diff_data??

Signature: get_diff_data(file_name, diff_file=True)
Source:
def get_diff_data(file_name, diff_file=True):
    """_summary_

    Args:
        file_name (str): regular expression that specifies a file pattern e.g. 'file_*.txt'
        diff_file (bool, optional): Optional boolean. Defaults to True.

    Returns:
        pd.DataFrmae: Concatenated DataFrame with proper column names
    """
    # get column names from master data
    column_master_data = pd.read_csv(
        filepath_or_buffer=f'{__dir__}/data/{str("mst_column_name.txt")}', delimiter='\t', encoding='shift-jis')
    columns = column_master_data.column_name_en
    if diff_file == True:
        # get list of data using regular expression
        data_list = glob(f'{__dir__}/data/{str(file_name)}')
        # create a base dataframe that will be appended over loops
        column_base = pd.read_csv(
            data_list[0], encoding='shift-jis', header=None).columns.tolist()
        data = pd.DataFrame(columns=column_base)
        for i in data_list:
            data = data.append(pd.read_csv(
                i, encoding='shift-jis', header=None))
        data.columns = columns
        return data
    else:
        return column_master_data
File:      c:\users\tatsu\documents\project_workspace\01_python_100knock_visualization\chapter-1\src\load_data.py
Type:      function

In [29]:
# Read all diff data and union as one DataFrame
diff_data = get_diff_data("diff*.csv")
diff_data.head()

column_name_en,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1010001016019,71,0.0,2021-04-01,2021-03-01,株式会社国際漢方研究所,NaN,301.0,東京都,...,NaN,令和３年３月１日東京都渋谷区千駄ヶ谷五丁目２９番１１号ナカニシビル６０２号室株式会社Ｉｎｔｅ...,2015-10-05,1.0,NaN,NaN,NaN,NaN,コクサイカンポウケンキュウショ,0.0
1,2,1010001092869,1,1.0,2021-04-01,2020-06-11,あさひ銀リテールファイナンス株式会社,NaN,301.0,東京都,...,NaN,NaN,2020-06-11,0.0,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0.0
2,3,1010001092869,21,0.0,2021-04-01,2021-03-22,あさひ銀リテールファイナンス株式会社,NaN,301.0,東京都,...,NaN,NaN,2020-06-11,1.0,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0.0
3,4,1010001128061,1,1.0,2021-04-01,2015-10-05,日本アイ・ビー・エム株式会社,NaN,301.0,東京都,...,NaN,NaN,2015-10-05,0.0,NaN,NaN,NaN,NaN,ニホンアイビーエム,0.0
4,5,1010001128061,71,1.0,2021-04-01,2017-10-02,日本アイ・ビー・エム株式会社,NaN,301.0,東京都,...,NaN,平成２９年１０月１日東京都中央区日本橋箱崎町１９番２１号アイ・ビー・エム・アジア・パシフィッ...,2015-10-05,1.0,NaN,NaN,NaN,NaN,ニホンアイビーエム,0.0

In [30]:
diff_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18762 entries, 0 to 3434
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sequenceNumber            18762 non-null  object
 1   corporateNumber           18762 non-null  object
 2   process                   18762 non-null  object
 3   correct                   18757 non-null  float64
 4   updateDate                18762 non-null  object
 5   changeDate                18757 non-null  object
 6   name                      18757 non-null  object
 7   nameImageId               132 non-null    float64
 8   kind                      18757 non-null  float64
 9   prefectureName            18749 non-null  object
 10  cityName                  18749 non-null  object
 11  streetNumber              18729 non-null  object
 12  addressImageId            188 non-null    float64
 13  prefectureCode            18749 non-null  float64
 14  cityCode                  18749 non-null  float64
 15  postCode                  18745 non-null  float64
 16  addressOutside            36 non-null     object
 17  addressOutsideImageId     2 non-null      float64
 18  closeDate                 1081 non-null   object
 19  closeCause                1081 non-null   float64
 20  successorCorporateNumber  318 non-null    float64
 21  changeCause               610 non-null    object
 22  assignmentDate            18757 non-null  object
 23  latest                    18757 non-null  float64
 24  enName                    56 non-null     object
 25  enPrefectureName          53 non-null     object
 26  enCityName                53 non-null     object
 27  enAddressOutside          1 non-null      object
 28  furigana                  17725 non-null  object
 29  hihyoji                   18757 non-null  float64
dtypes: float64(12), object(18)
memory usage: 4.4+ MB

In [31]:
data.head(3)

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0

In [32]:
print(f'Original data : {len(data)}')
print(f'Diff data : {len(diff_data)}')
print(f'Concatenated data Expected : {len(data)+len(diff_data)}')

Original data : 114613
Diff data : 18762
Concatenated data Expected : 133375

In [33]:
data = pd.concat([data,diff_data])
print(f'Concatenated data Real : {len(data)}')

Concatenated data Real : 133375

In [34]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133375 entries, 0 to 3434
Data columns (total 30 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   sequenceNumber            133375 non-null  object
 1   corporateNumber           133375 non-null  object
 2   process                   133375 non-null  object
 3   correct                   133370 non-null  object
 4   updateDate                133375 non-null  object
 5   changeDate                133370 non-null  object
 6   name                      133370 non-null  object
 7   nameImageId               1375 non-null    object
 8   kind                      133370 non-null  object
 9   prefectureName            133362 non-null  object
 10  cityName                  133362 non-null  object
 11  streetNumber              133325 non-null  object
 12  addressImageId            1383 non-null    object
 13  prefectureCode            133362 non-null  object
 14  cityCode                  133362 non-null  object
 15  postCode                  133185 non-null  object
 16  addressOutside            36 non-null      object
 17  addressOutsideImageId     2 non-null       float64
 18  closeDate                 11158 non-null   object
 19  closeCause                11158 non-null   object
 20  successorCorporateNumber  984 non-null     object
 21  changeCause               1721 non-null    object
 22  assignmentDate            133370 non-null  object
 23  latest                    133370 non-null  object
 24  enName                    288 non-null     object
 25  enPrefectureName          283 non-null     object
 26  enCityName                283 non-null     object
 27  enAddressOutside          1 non-null       object
 28  furigana                  64345 non-null   object
 29  hihyoji                   133370 non-null  object
dtypes: float64(1), object(29)
memory usage: 31.5+ MB

## ノック７：マスタを読み込んで項目を横に繋げよう

## ノック８：テキストの連結や分割をしよう

## ノック９：日付を加工しよう

## ノック１０：年度を設定しよう

## ノック１１：加工したデータをファイルに出力しよう

## ノック１２：不要な項目の削除と並べ替えをしよう

## ノック１３：まとまった単位で集計しよう

## ノック１４：市区町村別の法人数を可視化しよう

## ノック１５：グラフの縦横と表示順を変えてみよう

## ノック１６：グラフのタイトルとラベルを設定しよう

## ノック１７：グラフの見た目をもっと変えてみよう

## ノック１８：９０日以内に新規登録された法人数を可視化してみよう

## ノック１９：年度別の推移を可視化しよう

## ノック２０：データとグラフを出力しよう